streamlit
langchain
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
pyyaml
python-dotenv
PyMuPDF
python-docx
sqlite3==3.45.3
youtube-transcript-api
